body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
header{
	width: 100%;
}
.header_top{
	float: left;
	width: 100%;
	background: #333;
	box-sizing: border-box;
    padding: 20px 30px;
}
.header_bottom{
	float: left;
	width: 100%;
	text-align: center;
	background: rgba(255,255,255,0.6);
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
    padding: 20px 30px;
}
.logo_nav{
	float: left;
}
.search_plus_actions{
	float: right;
}
.logo{
	float: left;
}
.navigation{
	float: left;
	margin: 0px 0px 0px 20px;
}
.navigation ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.navigation ul li{
	float: left;
	margin: 0px 20px 0px 0px;
}
.navigation ul li a{
	color: #999;
	text-decoration: none;
}
.search_plus_actions a{
	display: inline-block;
	color: #999;
	text-decoration: none;
	margin: 0px 20px 0px 0px;
}
.search_plus_actions form{
	display: inline-block;
	margin: 0px;
}
.search_plus_actions input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 5px;
    width: 220px;
    border-radius: 5px;
}
.header_bottom ul{
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.header_bottom ul li{
	float: left;
	margin: 0px 20px 0px 0px;
}
.header_bottom ul li a{
	text-decoration: none;
	color: #444;
}
.header_bottom ul li a i{
	font-size: 10px;
	color: #d8d8d8;
}